margin: 0px;
  font-family: 'DM Sans', sans-serif;

}

#logo2{
  width: 250px;
  margin-left:75px;
  margin-top: 50px;
}

#titulo-menusupeior{
  margin-left: 150px;
  margin-bottom: 50px;
  font-size: 36px;
}

#texto-menusuperior{

  margin-left: 150px;
  margin-top: 35px;
  padding-bottom: 100px;
  font-size: 24px;
}

#menusupeior{
  background-image: url(imagens/fundo-menusuperior.png);
  color: rgb(231, 231, 231)
}

#menuinformacional{
  background-color: rgba(3, 59, 3, 0.199);
  display: grid;
  grid-auto-flow: column;
  columns: auto;
}
.icones{
  margin: 30px 0px 30px 100px;
  padding:25px;
}

#secaovideo{
  display: grid;
  grid-auto-flow: column;
  columns: auto;
}

.textoinformativo{
  display: flex;
  align-items: center;
  font-size: 24px;
}

#titulovideo{
  color: rgb(5, 36, 8);
  margin-top: 50px;
  font-size: 36px;
}

#textovideo{
  font-size: 24px;
}

#video{
 margin: 50px 25px 50px 100px;
}

#carrossel{
  background-image: url(imagens/fundo-menusuperior.png);
  padding: 50px;
  height: 500px;
  margin-top: 40px;
  }
  
#titulo-carrosel{
 color: aliceblue;
 text-align: center;
}

#div-cards{
  margin-top: 10px;
  display: grid;
  grid-auto-flow: column;
  overflow-x: auto;     /* permite rolagem horizontal */
  white-space: nowrap;  /* impede quebra de linha */
  scroll-behavior: smooth; /* animação ao rolar (se quiser usar setas) */
  max-width: 100%;      /* impede ultrapassar o container pai */
}

.card{
  width: 400px;
  margin: 20px;
  margin-top: 100px;

 
}

#setaesquerda{
  display: none;
}

#depoimento4 {
  display: none;
}

.seta{
  width: 50px;
  margin: 50px;
  margin-top: 155px;
  cursor: pointer;
}
.seta:hover{
  transform: translateY(-7px);
  transition-duration: o.5s;
}

#formulario{
  text-align: center;
}

#titulo-formulario{
  font-size: 34px;
  margin: 25px;
  color: black;
}

input{
  width: 500px;
  height: 53px;
  background-color: rgba(19, 85, 46, 0.13);
  margin: 15px;
  border: 0px;
  border-radius: 10px;
  padding-left: 15px;
}

#button{
 background-color: rgb(10, 41, 23);
 height: 53px;
 width: 250px;
 color: aliceblue;
 border: 0px;
 border-radius: 10px;
 margin-bottom: 50px;
 font-weight: bolder;
 cursor: pointer;
}

#button:hover{
  background-color: rgba(19, 58, 35, 0.418);
  color: aliceblue;
  transform: translateY(-7px);
  box-shadow: 0px 15px 20px rgba(1, 44, 18, 0.822);
  transition-duration: o.5s;
}
